html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: block;
  font-family: -apple-system, "Roboto", BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
}

[data-force-push="right"] {
  float: right;
}

.has--gutter {
  padding: 0 20px;
}

img {
    max-width: 100%;
    height: auto;
}

.core-button {
  width: 200px;
  height: 65px;
  background: #fff;
  border-radius: 4.5px;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}
.core-button:hover {
  background: linear-gradient(135deg, #ea3fa9 0%, #f6b63f 100%);
}

.core-button.center-in-container {
  margin: 0 auto;
}
.core-button a {
  text-decoration: none;
  color: #333;
  text-align: center;
  display: block;
  font: 600 18pt/1.2em "Montserrat", -apple-system;
  text-transform: uppercase;
  line-height: 65px;
}

.core-button:hover > a {
  color: #fff
}

[data-force-color="mint"] {
  background: #50BF7B;
}

[data-force-color="hyperline"] {
  background: #ea3fa9;
  background: -moz-linear-gradient(-45deg, #ea3fa9 0%, #f6b63f 100%);
  background: -webkit-linear-gradient(-45deg, #ea3fa9 0%, #f6b63f 100%);
  background: linear-gradient(135deg, #ea3fa9 0%, #f6b63f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea3fa9', endColorstr='#f6b63f',GradientType=1 );
}

.mastnav--container {
  position: fixed;
  top: 0;
  z-index: 9999;
  padding: 0 15px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
}

.nav[data-is-full="false"] {
    lost-column: 4/5;
    lost-offset: 1/9;
    height: 55px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom-left-radius: 4.5px;
    border-bottom-right-radius: 4.5px;
}

.nav[data-is-full="true"] {
    lost-column: 1/1;
    left: 0;
    border-radius: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1)
}

.nav[data-is-dark="true"] {
    background: rgba(0, 0, 0, 0.8)
}

.nav[data-is-dark="true"] .mastnav .nel {
    color: #eee
}

.backdropfilter .nav--scrolled {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
}

.no-backdropfilter .nav--scrolled {
  background: white;
}

.backdropfilter  .nav[data-is-dark="true"].nav--scrolled {
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
}
.no-backdropfilter .nav[data-is-dark="true"].nav--scrolled {
    background: rgba(0, 0, 0, 0.8)
}

.mastnav--left {
  display: block;
  margin: 0;
  padding: 0;
  float: left;
  height: 100%;
}
.mastnav--left a {
  text-decoration: none;
  font-size: 22pt;
  display: block;
  padding: 10px 0;
  transition: all 0.55s ease-in-out;
  -webkit-transition: all 0.55s ease-in-out;
  -moz-transition: all 0.55s ease-in-out;
  -o-transition: all 0.55s ease-in-out;
  -ms-transition: all 0.55s ease-in-out;
  transform: scale(1);
  position: relative;
  top: 3px;
  font-family: -apple-system, "Roboto", sans-serif
}
.mastnav--left a:hover {
  transform: scale(1.1);
}

.mastnav--right {
  float: right !important;
  lost-column: 2/7;
  height: 55px;
}

.navbox-container {
  margin: 9px;
  padding: 0;
  display: flex;
  display: -webkit-flex;
  list-style-type: none;
  float: right;
}

.navbox-el {
  margin: 0 15px;
  padding: 0;
  cursor: pointer;
  display: block;
  padding: 10px;
  width: 73px;
  text-decoration: none;
  color: #333;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  border-radius: 3.5px;
  background: none;
  box-shadow: none;
  text-align: center;
  cursor: pointer;
}
.navbox-el:hover {
  background: rgba(255, 255, 255, 0.7);
}
.navbox-el:active {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.cel {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.masthead-inner-container {
  lost-column: 2/6;
  lost-offset: 2/6;
  lost-align:  center;
  top: 500px;
}

.masthead-hero {
  padding: 30px;
}

.masthead-inner-image-prev {
  width: 200px;
  margin: 0 auto;
}

.masthead-self-prev {
  border-radius: 99em;
  width: 200px;
}

.supermast-banner,
.supermast-sub-banner {
  color: #fff;
  font-weight: 500;
  text-align: center;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7)
}

.supermast-banner {
  font-size: 38pt;
}

.supermast-sub-banner {
  font-size: 16pt;
  margin-bottom: 30px;
}

.masthead-intro-list {
  list-style-type: none;
  display: flex;
  display: -webkit-flex;
  padding: 0;
  width: 440px;
  margin: 0 auto;
}

.masthead-intro-list-el {
  margin: 0 15px;
}

.anchor-mast-social {
  display: block;
  padding: 8px;
  text-decoration: none;
  background: #eee;
  color: #333;
  border-radius: 4.5px;
  width: 100px;
  font-size: 18px;
  text-align: center;
  transition: all 0.55s ease-in-out;
  -webkit-transition: all 0.55s ease-in-out;
  -moz-transition: all 0.55s ease-in-out;
  -o-transition: all 0.55s ease-in-out;
  -ms-transition: all 0.55s ease-in-out;
}
.anchor-mast-social:hover {
  background: #ddd;
}

.anchor-mast-social#twitter-nav .fa-twitter,
.anchor-mast-social#medium-nav .fa-medium {
  transition: all 0.55s ease-in-out;
  -webkit-transition: all 0.55s ease-in-out;
  -moz-transition: all 0.55s ease-in-out;
  -o-transition: all 0.55s ease-in-out;
  -ms-transition: all 0.55s ease-in-out;
}

.anchor-mast-social#twitter-nav:hover .fa-twitter {
  color: #1DA1F2;
}

.anchor-mast-social#medium-nav:hover .fa-medium {
  color: #00AB6C;
}

.mast-project--main {
  lost-column: 1/1;
  lost-align: center;
  height: 900px;
  margin-top: 100px;
}

.masthead-project-title {
  lost-row: 1/6;
  top: 150px;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4)
}
.masthead-project-title h1 {
  text-align: center;
  color: #fff;
  font-size: 52pt;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
}

.masthead-content-project {
  lost-row: 3/6;
  lost-column: 3/6;
  margin: 100px auto;
  padding: 10px;
}

.prev-project-img {
  margin: 30px 0 0 30px;
  lost-column: 1/3;
}

.prev-project-img img {
  width: 125px;
  margin-left: 70px;
}

.project-intro-right {
  lost-column: 2/4;
  lost-utility: clearfix;
}
.project-intro-right h5 {
  font-size: 42pt;
  margin: 50px 0 10px 0px;
  color: #fff;
}
.project-intro-right sub {
  font-size: 12pt;
}

.project-intro-expo {
  padding: 30px;
  lost-column: 4/6;
  lost-offset: 1/8;
}
.project-intro-expo p {
  font-size: 22pt;
  font-weight: 600;
  margin-bottom: 55px;
  color: #fff;
}


/*
    ABOUT PAGE
*/
.GHS-about-container {
    lost-column: 1/1;
    overflow: hidden;
    float: left !important;
}

.GHS-about-containing-image-box {
    height: 100vh;
}

.GHS_Image {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.sticky-container {
    width: 100%;
    height: 100vh;
    position: fixed;
}

.sticky-container .main-img,
.sticky-container .blur-img {
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-transition: opacity 800ms;
    transition: opacity 800ms;
    will-change: opacity;
}

.main-img {
    background-image: url('/static/i/img_forest.jpg')
}
.main-img.log {
    background-image: url('/static/i/img_log.jpg')
}

.blur-img {
    background-image: url('/static/i/img_forest_blur.jpg');
    opacity: 0;
    position: absolute;
    z-index: 3;
    top: 0
}

.blur-img.log {
    background-image: url('/static/i/img_log_blur.jpg');
    opacity: 0;
    position: absolute;
    z-index: 3;
    top: 0
}

.sticky-container .blur-bg {
    -webkit-transition: opacity 800ms;
    transition: opacity 800ms;
    will-change: opacity;
    opacity: 0.0001;
    -webkit-backdrop-filter: saturate(135%) blur(50px);
    backdrop-filter: saturate(135%) blur(50px);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: none;
    z-index: 5
}

.blur-bg.active,
.blur-img.active {
    opacity: 0.9999
}

.about-title-hero-header,
.about-title-hero-header-sub {
  color: #fff;
  lost-column: 1/1;
  lost-center: 2/3;
  lost-align: center;
  z-index: 6;
}

.about-title-hero-header {
    font-size: 72pt;
    margin-top: 400px;
    margin-bottom: 10px;
}

.about-title-hero-header-sub {
    font-size: 44pt;
    margin-top: 10px;
}

.UIComponent_Layout {
  padding: 0 20px;
  z-index: 8;
  lost-column: 1/1;
  lost-center: 2/3;
  position: relative;
}

.hero-title-container {
    margin-bottom: 130px;
}

.hero-point-container {
    margin: 25px auto 0 auto;
}

.hero-title-item,
.hero-title-sub { 
  font-family: -apple-system, "Roboto", sans-serif;
  color: #fff;
  text-align: left;
}

.hero-title-item {
    font-size: 48pt;
    margin: 0;
}

.hero-title-sub {
    margin-left: 40px;
    color: #eee;
}

.hero-title-sub-lg {
  font-size: 28pt;
  margin-left: 40px;
}

.hero-title-sub ul {
  list-style-type: none
}

.hero-title-sub ul li span {
  color: #fff;
}

.hero-title-sub ul li.inner-list {
  margin-left: 40px;
  color: #fff;
}

.hero-point-seperator {
  lost-column: 1/1;
  lost-center: 2/3;
  margin: 45px 0;
  float: none !important;
  background: #fff;
  height: 1px;
  opacity: 0.6;
}


/* =====================
    FPIViewController
   =====================

   All code below (until responsivity) pertains to the FPIViewController
 */
.next-layout__FPIViewController {
    width: 100%;
    height: 100vh;
}






/*
    RESPONSIVITY
*/
@media screen and (max-width: 774px) {
  .mastnav--container.navsm {
    width: 100%;
    border-radius: 0;
    left: 0;
  }

  .mastnav--right {
    width: 500px;
  }

  .navbox-el {
    margin: 0 5px;
  }

  .navbox-link {
    font-size: 11pt;
  }

  .navbox-el[data-force-push="right"] {
    left: 25px;
  }

  .masthead-content-project {
    width: 554px;
  }

  .project-intro-right {
    width: 220px;
    margin-right: 122px;
  }

  .project-intro-expo {
    padding: 35px;
  }
}
